

/*stylisation de formulaire de connexion*/
#formulaire{
	width: 510px;
	background: lightblue;
	margin: auto;
	padding: 20px;
	font-size: 1em;
}

#formulaire h2{
	text-align: center;
	text-transform: uppercase;
	color: white;
}
#formulaire input{
	width: 500px;
	height: 30px;

	}

	#formulaire button{
		font-size: 1.3em;
		background: blue;
		color: white;
		border-radius: 10px;
		margin: 0px 180px;
	}